.btn
{
	
	text-align: left;
	width: 100%;
}
body{
	/* color: wheat; */
	
}
.division
{	
	
	/* font-size: 30px; */
font-family: cursive;
color: wheat;
}
.main
{
	background-color: #212121;
	height: 80vh;
	

}